*
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p
{
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div
{
    height: 300px;
}